<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
       
            <main>
               
        <div class=".container-fluid">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/accessories">Accessories</a></li>
                            <!---<li class="breadcrumb-item"><a href="category.html">Categories</a></li>--->
                            <% accessories.forEach(function(c){%> 
                                <li class="breadcrumb-item">
                                    <a   style="color: grey !important; text-decoration: none" href="/<%=c.slug%>"><%=c.title%> </a> 
                                </li>
                            
                                <% })%> 
                        </ol>
                    </nav>
                </div>
            </div>
        </div>     
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="/<%= product.image %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <p class="product__description" >
                                        <span class="claimedRight" maxlength="20"><%= product.description %></span>
 
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/products/<%= product._id %>" class="btns">Details</a>
                                    <% if (isAuthenticated) { %>
                                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                    <% } %>
                                </div>
                            </article>
                            <% } %>
                    </div>
                    <%- include('../includes/pagination.ejs', {currentPage:currentPage,hasNextPage:hasNextPage,hasPreviousPage:hasPreviousPage,previousPage:previousPage,nextPage:nextPage,lastPage:lastPage}) %>
                    
                    
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <script>
                $(document).ready(function(){
  
  $('.claimedRight').each(function (f) {

      var newstr = $(this).text().substring(0,100);
      $(this).text(newstr);

    });
})
            </script>
            <%- include('../includes/end.ejs') %>